body {
  margin-top: 0;
  background-color: 
}

#top {
  background: url(Asset/Images/nav_bar_bg.png) no-repeat top center;
  width: auto;
  height: 65px;
  margin-top: 15px;
	
}

#nfLogo {
  background: url(Asset/Images/nf_logo.png) no-repeat top center;
  width: 116px;
  height: 94px;
  margin-left: 300px;
  margin-top: -13.8px;
  padding-top: 0;
  display: inline-flex;
}

#name {
  background: url(Asset/Images/name.png) no-repeat top center;
  width: 241px;
  height: 24px;
  float: right;
  margin-right: 1110px;
  margin-top: 21px;
}

ul {
  display: inline-flex;
  list-style: none;
  margin-left: 1000px;
  margin-top: 37px;
}

li {
  padding: 0 20px;
}

#welcome {
  background: url(Asset/Images/welcome.jpg) no-repeat top center;
  width: auto;
  height: 351px;
  margin-top: 20px;
}

.line {
  background: url(Asset/Images/line_mark.png) no-repeat top center;
  display: block;	
  width: auto;
  height: 20px;
  margin-top: 5px;	
}

#skills {
  background: url(Asset/Images/skills.jpg) no-repeat top center;
  width: auto;
  height: 838px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#works {
  background: url(Asset/Images/projects.jpg) no-repeat top center;
  width: auto;
  height: 871px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#p1 {
  position: relative;
  left: 550px;
  top: 160px;
}

#p2 {
  position: relative;
  left: 360px;
  top: 160px;
}

#p3 {
  position: relative;
  left: 227px;
  top:400px;
}

#contact {
  background: url(Asset/Images/contacts.jpg) no-repeat top center;
  width: auto;
  height: 575px;
  margin-top: 25px;
  margin-bottom: 50px;
}

#btn {
  position: absolute;
  width: 500px;
} 

@media (max-width: 320px)

#nfLogo {
  margin-left: 20px;
}